{% extends "base.html" %}

{% block content %}
    <div class="row cp">
        <div class="panel one-half column">
            <h4>About You</h4>
            You registered your account: {{ current_user.registered_at | timesince }}
            <br>
            {% if current_user.about %}About:<div class="well">{{ current_user.about }}</div>{% else %}You haven't written an about yet!{% endif %}
        </div>
        <div class="panel one-half column">
            <h4>Payment Info</h4>
        </div>
    </div>
    <div class="row cp">
        <div class="panel">
            <h4>Files ({{ current_user.files.count() }})</h4>
            {% if current_user.files.count() == 0 %}
                <p>You haven't uploaded anything yet!</p>
            {% else %}
                {% for file in current_user.files %}
                    {{ file.name }}, {{ file.desc }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
