{% extends "base.html" %}

{% block content %}
    <div class="row cp">
        <div class="panel">
            <h4>About You <small class="edit"><a href="{{ url_for('users.edit_profile') }}">edit</a></small>, <small class="edit"><a href="{{ url_for('users.edit_security') }}">change password</a></small></h4>
            <div class="row">
                You registered your account {{ current_user.registered_at | timesince }}.
            </div>
            <div class="row">
                {% if current_user.about %}{{ current_user.about }}{% else %}No about written yet!{% endif %}
            </div>
        </div>
    </div>
    <div class="row cp">
        <div class="panel">
            <h4>Payment Information</h4>
            <div class="row">
                <p>{% if current_user.pro_status %}You're currently a Pro member.{% else %}You do not currently have a Pro subscription. <a href="{{ url_for('users.pro') }}">Sign up</a> for one.{% endif %}</p>
            </div>
        </div>
    </div>
    <div class="row cp">
        <div class="panel">
            <h4>Your Gallery ({{ current_user.files.count() }}) <small class="edit"><a href="{{ url_for('users.gallery') }}">view all</a></small></h4>
            {% if current_user.files.count() == 0 %}
                <p>You haven't uploaded anything yet!</p>
            {% else %}
                <ul class="gallery-cp">
                    {% for image in current_user.files %}
                        <li>
                            <a href="{{ url_for('users.view_photo', photo_id=image.id) }}">
                            <img src="{{ resized_img_src(image.filename, width=150, height=150, mode='fit', quality=85) }}" alt="{{ image.name }}"/>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
