{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('users.edit_profile') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="well">
                {% if current_user.about %}{{ current_user.about }}{% else %}You have not written any about section yet.{% endif %}
            </div>
            <label for="{{ form.about.name }}">{{ form.about.label }}</label>
            {{ form.about(class='u-full-width', **{'autofocus':''}) }}
            <div class="well">{{ current_user.email }}</div>
            <label for="{{ form.email.name }}">{{ form.email.label }}</label>
            {{ form.email(class='u-full-width', placeholder=current_user.email) }}
            <p class="help">Changing your email address will require email confirmation.</p>
            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
            {{ form.password(class='u-full-width', **{'required':''}) }}
        </div>
        {{ form.submit(class='button-primary') }}
    </form>
{% endblock %}