{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('users.edit_profile') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="one-half column">
                <label for="{{ form.first_name.name }}">{{ form.first_name.label }}</label>
                {{ form.first_name(class='u-full-width', **{'autofocus':''}) }}
            </div>
            <div class="one-half column">
                <label for="{{ form.last_name.name }}">{{ form.last_name.label }}</label>
                {{ form.last_name(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <label for="{{ form.about.name }}">{{ form.about.label }}</label>
            {{ form.about(class='u-full-width') }}
        </div>
        {{ form.submit(class='button-primary') }}
    </form>
{% endblock %}