{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('users.login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="six columns">
                <label for="{{ form.username.name }}">{{ form.username.label }}</label>
                {{ form.username(class='u-full-width', **{'required':'', 'autofocus':''}) }}
                <label for="{{ form.password.name }}">{{ form.password.label }}</label>
                {{ form.password(class='u-full-width', **{'required':''}) }}
                {{ form.remember }} {{ form.remember.label }}
            </div>
        </div>
        {{ form.submit(class='button-primary') }}
    </form>
{% endblock %}