{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('users.login') }}" method="post">
    {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.username.name }}">{{ form.username.label }}</label>
            {{ form.username(class='form-control', placeholder='johnsmith', **{'required':'', 'autofocus':''}) }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
            {{ form.password(class='form-control', placeholder='password', **{'required':''}) }}
        </div>
        <div class="form-group">
            {{ form.submit(class='btn btn-default') }}
        </div>
    </form>
{% endblock %}