{% extends "base.html" %}

{% block content %}
    {% if current_user.pro_status %}
        <p>You are currently subscribed as a Pro member! Your subscription will renew on: {{ current_user.pro_expiration|datetimeformat }}.</p>
        <p>If you would like to cancel your subscription, please <a href="{{ url_for('users.unsubscribe') }}">click here</a>.</p>
    {% else %}
        <p>You don't have a subscription, would you like to purchase one for only $30 a year?</p>
        <form action="{{ url_for('users.pro') }}" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ public_key }}"
            data-amount="3000"
            data-name="Nestegg"
            data-panel-lablel="Subscribe"
            data-label="Subscribe"
            data-description="Pro subscription ($30 per year)"
            data-allow-remember-me="false"
            data-bitcoin="true"
            data-image="{{ url_for('static', filename='nestegg_stripe.png') }}">
          </script>
        </form>
    {% endif %}
{% endblock %}
