{% extends "base.html" %}

{% block content %}
    <h3>{{ user.username | capitalize }}'s Profile
    {% if current_user.is_authenticated() and current_user.id == user.id %}
        <small class="edit"><a href="{{ url_for('users.edit_profile') }}">edit</a></small>
    {% endif %}
    </h3>
    {% if user.about %}
        {{ user.about }}
    {% else %}
        <p>Sorry, this member has nothing to say at this time!</p>
    {% endif %}
    {% if not user.files.count() %}
        <p>This user has not uploaded anything yet!</p>
    {% else %}
        <p>{{ user.username }} has a total of {{ user.files.count() }}(s).</p>
    {% endif %}
{% endblock %}