@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
    font: 16px/2em Roboto, "Open Sans", Helvetica, Arial, sans-serif;
}

header {
    margin-top: 1em;
}

h4 small.edit a {
    font-size: 0.7em;
    font-weight: 500;
}

header h3 {
    font-size: 2em;
}

header h3 a, header h3 a:hover {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav li a {
	padding: 5px 7px;
}

nav li a:first-child {
	padding-left: 0px;
}

nav li:after {
	color: #bbb;
	content: "/";
	padding-right: 2px;
}

nav li:last-child:after {
	content: "";
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

main .container {
    margin-bottom: 1em;
}

footer .container {
    border-top: 1px solid #eee;
    color: #888888;
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

footer a {
    color: #888888;
    font-weight: normal;
}

.well {
    padding: 10px;
    background: #eee;
    border-radius: 3px;
    margin-bottom: 10px;
}

div.panel h4 {
    border-bottom: 1px solid #eee;
}

.cp {
	margin-bottom: 1em;
}

ul.gallery-cp li{
	display:inline-block;
	float:left;
	background:#eee;
	padding: 5px;
	margin-right: 5px;
}

ul.flashes {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.flash {
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: 3px solid #000;
}

li.flash.error {
    color: #b43a1f;
    border-color: #b43a1f;
}

li.flash.good {
    color: #8ec824;
    border-color: #8ec824;
}

figure {
    width: 100%;
	margin: 0 !important;
	padding-bottom: 5px;
	border-radius: 3px;
    background: #eee;
}

figure figcaption {
	font-size: 85%;
	padding-right: 10px;
	padding-left: 10px;
}