<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
{% include "nav.html" %}
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
<footer>
    <div class="container">
        <p><a href="{{ url_for('public.tos') }}">Terms of Service</a> | <a href="{{ url_for('public.privacy') }}">Privacy Policy</a></p>
    </div>
</footer>
</body>
</html>